# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Data folders (large datasets)
data/
datasets/
real_dataset/
full_real/
CVC-ClinicDB/
kvasir-dataset-v2/
Kvasir-SEG/
CVC-ColonDB/

# Experiment outputs
*.pt
*.pth
*.ckpt

!experiments/results/
!experiments/results/**
!experiments/results/**/*

!runs/
!runs/detect/
!runs/detect/**
!runs/detect/**/*

!sample_images/
!sample_images/**
!sample_images/**/*

#IDE
.ipynb_checkpoints/
.idea/
.vscode/
*.code-workspace


# LOGS
*.log
tmp/
temp/
cache/
outputs/